$--color-white: #fff !default;
$--color-black: #000 !default;
$--color-gray: #3c3c3c;
$--color-gray-light: #9b9b9b;
$--color-gray-lighter: #e5e5e5;
$--color-gray-super-light: #fafafa;
$--color-orange: #f0830e;
$--color-orange-light: #fce6cf;
$--color-green: #7ab317;
$--color-green-heavy: #399c4d;
$--color-red: #d50000;
$--color-red-lighter: #fff7f7;
$--color-blue: #2d4b56;
$--color-blue-heavy: #0d3440;
