$--font-size-xxs: 8px;
$--font-size-smallest: 12px;
$--font-size-small: 14px;
$--font-size-base: 16px;
$--font-size-medium: 18px;
$--font-size-large: 24px;
$--font-weight-primary: 700;
$--font-line-height-primary: 24px !default;
