/* Variables */

/* Colors
-------------------------- */
@import "./colors";
$--background-color: #f6f7f8;
$--card-background-color: #fafafa;
$--footer-background-color: $--color-gray;

/* Font
-------------------------- */
$--font-family: 'Roboto', sans-serif;
$--material-design-icons-font-path: './../node_modules/material-design-icons-iconfont/dist/fonts/';
$--MD-icon-path-name: $--material-design-icons-font-path + 'MaterialIcons-Regular';
@import "./font-sizes";

:export {
  backgroundColor: $--background-color;
  activeTextColor: $--color-gray;
}
